{:site-title                   "Thoughts and bits"
 :author                       "Noah Bogart"
 :description                  ""
 :site-url                     "https://noahtheduke.github.io/"
 :post-root                    "posts"
 :page-root                    "pages"
 :post-root-uri                "posts"
 :page-root-uri                ""
 :tag-root-uri                 "tags"
 :author-root-uri              "authors"
 :public-dest                  "docs"
 :blog-prefix                  ""
 :rss-name                     "feed.xml"
 :recent-posts                 3
 :post-date-format             "yyyy-MM-dd'T'HH:mm"
 :archive-group-format         "yyyy MMMM"
 :sass-src                     []
 :sass-path                    "sass"
 :theme                        "lotus"
 :resources                    ["img"]
 :keep-files                   [".git"]
 :ignored-files                [#"\.#.*" #".*\.swp$"]
 :previews?                    true
 :posts-per-page               20
 :blocks-per-preview           3
 :clean-urls                   :trailing-slash
 :collapse-subdirs?            false
 :hide-future-posts?           true
 :description-include-elements #{:p :h1 :h2 :h3 :h4 :h5 :h6}
 :debug?                       false}
