<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>{{title}}{% block subtitle %}{% endblock %}</title>
        {% block meta %}
        <meta name="description" content="{{description}}">
        <meta name="keywords" content="">
        {% endblock %}
        <link rel="canonical" href="{{site-url}}{{uri}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% style "css/bootstrap.css" %}
        {% style "css/main.css" %}
        {% style "css/colors/colorful.css" %}
    </head>

    <body>
        {% include "html/navbar.html" %}
        {% include "html/content.html" %}
        {% include "html/sidebar.html" %}
        {% include "html/footer.html" %}
    </body>
</html>
