{% extends "/html/base.html" %}
{%block subtitle %}: {{post.title}}{% endblock %}
{% block meta %}
<meta name="keywords" content="{% for tag in tags %}{{tag.name}}{% if not forloop.last %},{% endif %}{% endfor %}">
{% if post.description %}
<meta name="description" content="{{post.description}}">
<meta property="og:description" content="{{post.description}}">
{% endif %}
<meta property="og:url" content="{{site-url}}{{uri}}" />
<meta property="og:title" content="{{post.title}}" />
<meta property="og:type" content="article" />
{% endblock %}
{% block content %}
<article id="post">
    {% include "/html/post-content.html" %}
</article>
<div id="prev-next">
    {% if post.prev %}
    <a href="{{post.prev.uri}}">&laquo; {{post.prev.title}}</a>
    {% else %}
    <div></div>
    {% endif %}
    {% if post.next %}
    <a class="right" href="{{post.next.uri}}">{{post.next.title}} &raquo;</a>
    {% endif %}
</div>
{% endblock %}
