<h2 class="post-header"><a href="{{post.uri}}">{{post.title}}</a></h2>
<div id="post-meta">
    {% if post.author %}
    <span>By: {{post.author}}</span>
    {% endif %}
    <span>{{post.date|date:longDate}}</span>
    {% if post.tags|not-empty %}
    <span id="post-tags">
        {% for tag in post.tags %}
        <a href="{{tag.uri}}">#{{tag.name}}</a>
        {% endfor %}
    </span>
    {% endif %}
</div>
<div>
    {% if post.toc %}{{post.toc|safe}}{% endif %}
    {{post.content|safe}}
</div>
