<aside class="sidebar">
    {% if links|not-empty %}
    <h3>Links</h3>
    <ul id="links">
        {% for page in links %}
        <li><a href="{{page.uri}}">{{page.title}}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if tags|not-empty %}
    <div class="tags">
        <h3>Tags</h3>
        <ul>
            {% for tag in tags|sort-by:name %}
            <li><a href="{{tag.uri}}">#{{tag.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</aside>
