{% extends "/html/base.html" %}
{% block subtitle %}: Archives{% endblock %}
{% block content %}
<div id="posts">
    <div id="page-header">
        <h1>Archives</h1>
    </div>
    {% for group in groups %}
        <h4>{{group.group}}</h4>
        <ul>
        {% for post in group.posts %}
        <li>
            <a href="{{post.uri}}">{{post.date|date:"yyyy-MM-dd"}}</a>
            {% if post.title|not-empty %}
            - <a href="{{post.uri}}">{{post.title}}</a>
            {% endif %}
        </li>
        {% endfor %}
        </ul>
    {% endfor %}

</div>
{% endblock %}
