<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}{% block subtitle %}{% endblock %}</title>
        {% block meta %}
        <meta name="description" content="{{description}}">
        <meta name="keywords" content="">
        {% endblock %}
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

        {% style "css/normalize.css" %}
        {% style "css/blog.css" %}
        {% style "css/colors/colorful.css" %}
        <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
        <link rel="manifest" href="site.webmanifest">
    </head>
    <body>
        <aside id="sidebar">
            <div id="logo">
                <a title="{{title}}" href="{{index-uri}}">
                    <img class="icon" src="{{blog-prefix}}/img/profile.webp">
                    <div class="text desktop-and-tablet-only">{{title}}</div>
                    <div class="text mobile-only">{{title}}</div>
                </a>
            </div>

            <nav id="sidebar-links">
                <nav id="menucont">
                    <input type="checkbox" id="menu-checkbox" class="menu-checkbox">
                    <label for="menu-checkbox" class="menutitle">
                        <svg class="icon icon-menu" aria-hidden="true"><use xlink:href="{{blog-prefix}}/img/icons.svg#icon-menu"></use></svg><span class="menu-text">Menu</span>
                    </label>
                    <ul class="menu">
                        <li {% if home %} class="active" {% endif %}>
                            <a title="Home" href="{{index-uri}}">
                                <div class="menu-item-text">Home</div>
                            </a>
                        </li>
                        <li {% if timeline %} class="active" {% endif %}>
                            <a title="Posts" href="{{timeline-uri}}">
                                <div class=" menu-item-text">Posts</div>
                            </a>
                        </li>
                        {% for nav-page in navbar-pages %}
                        <li {% ifequal page.uri nav-page.uri %} class="active" {% endifequal %}>
                            <a href="{{nav-page.uri}}">
                                <div class="menu-item-text">{{nav-page.title}}</div>
                            </a>
                        </li>
                        {% endfor %}
                        <li {% if archives %} class="active" {% endif %}>
                            <a title="Archives" href="{{archives-uri}}">
                                <div class="menu-item-text">Archives</div>
                            </a>
                        </li>
                        {% if tags|not-empty %}
                        <li {% ifequal uri tags-uri %} class="active" {% endifequal %}>
                            <a title="Tags" href="{{tags-uri}}">
                                <div class="menu-item-text">Tags</div>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>

                <nav id="socialmedia">
                    <ul>
                        <li>
                            <a title="Email"
                               href="mailto:noah.bogart@hey.com"
                               target="_blank"
                               rel="external"
                               >
                               <svg class="icon icon-mail-alt">
                                   <use xlink:href="{{blog-prefix}}/img/icons.svg#icon-mail-alt"></use>
                               </svg>
                            </a>
                        </li>
                        <li>
                            <a title="LinkedIn"
                               href="https://www.linkedin.com/in/noah-bogart"
                               target="_blank"
                               rel="external"
                               >
                                <svg class="icon icon-linkedin">
                                    <use xlink:href="{{blog-prefix}}/img/icons.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a title="GitHub"
                               href="https://github.com/NoahTheDuke"
                               target="_blank"
                               rel="external"
                               >
                               <svg class="icon icon-github-circled">
                                   <use xlink:href="{{blog-prefix}}/img/icons.svg#icon-github-circled"></use>
                               </svg>
                            </a>
                        </li>
                        <li>
                            <a title="RSS Feed"
                               href="{{rss-uri}}"
                               >
                               <svg class="icon icon-rss-squared">
                                   <use xlink:href="{{blog-prefix}}/img/icons.svg#icon-rss-squared"></use>
                               </svg>
                            </a>
                        </li>
                    </ul>
                </nav>
            </nav>
        </aside>

        <article id="main">
            {% block content %}
            {% endblock %}
            <hr/>
            <div id="footercont">
                Copyright &copy; {{today|date:yyyy}} <a href="mailto:noah.bogart@hey.com">{{author}}</a>
                <br /><a href="/credits.html">Website credits</a>
            </div>
        </article>
    </body>
</html>
