<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}{% block subtitle %}{% endblock %}</title>
        {% block meta %}
        <meta name="description" content="{{description}}">
        <meta name="keywords" content="">
        {% endblock %}
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

        {% style "css/normalize.css" %}
        {% style "css/blog.css" %}
        {% style "css/colors/colorful.css" %}
        {% script "js/bluesky.js" %}
        <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
        <link rel="manifest" href="site.webmanifest">
    </head>
    <body>
        <aside id="sidebar">
            <div id="logo">
                <a title="{{title}}" href="{{index-uri}}">
                    <img class="icon" src="{{blog-prefix}}/img/profile.webp">
                    <div class="text desktop-and-tablet-only">{{title}}</div>
                    <div class="text mobile-only">{{title}}</div>
                </a>
            </div>

            <nav id="sidebar-links">
                <nav id="menucont">
                    <input type="checkbox" id="menu-checkbox" class="menu-checkbox">
                    <label for="menu-checkbox" class="menutitle">
                        <svg class="icon icon-menu" aria-hidden="true"><use xlink:href="{{blog-prefix}}/img/icons.svg#icon-menu"></use></svg><span class="menu-text">Menu</span>
                    </label>
                    <ul class="menu">
                        <li {% if home %} class="active" {% endif %}>
                            <a title="Home" href="{{index-uri}}">
                                <div class="menu-item-text">Home</div>
                            </a>
                        </li>
                        <li {% if archives %} class="active" {% endif %}>
                            <a title="Blog" href="{{archives-uri}}">
                                <div class="menu-item-text">Blog</div>
                            </a>
                        </li>
                        {% for nav-page in navbar-pages %}
                        <li {% ifequal page.uri nav-page.uri %} class="active" {% endifequal %}>
                            <a href="{{nav-page.uri}}">
                                <div class="menu-item-text">{{nav-page.title}}</div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </nav>
            </nav>
        </aside>

        <article id="main">
            {% block content %}
            {% endblock %}
            <hr/>
            <div id="footercont">
                Copyright &copy; {{today|date:yyyy}} <a href="mailto:noah.bogart@hey.com">{{author}}</a>
                <br /><a href="/credits">Website credits</a>
            </div>
        </article>
    </body>
</html>
