// borrowed from github

@import "variables";

.markdown-alert {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  color: inherit;
  border-left: .25em solid $borderColor-default
}

.markdown-alert > :first-child {
  margin-top: 0
}

.markdown-alert > :last-child {
  margin-bottom: 0
}

.markdown-alert .markdown-alert-title {
  display: flex;
  font-weight: 500;
  align-items: center;
  line-height: 1
}

.markdown-alert.markdown-alert-note {
  border-left-color: $borderColor-accent-emphasis
}

.markdown-alert.markdown-alert-note .markdown-alert-title {
  color: $accent
}

.markdown-alert.markdown-alert-important {
  border-left-color: $borderColor-done-emphasis
}

.markdown-alert.markdown-alert-important .markdown-alert-title {
  color: $done
}

.markdown-alert.markdown-alert-warning {
  border-left-color: $borderColor-attention-emphasis
}

.markdown-alert.markdown-alert-warning .markdown-alert-title {
  color: $attention
}

.markdown-alert.markdown-alert-tip {
  border-left-color: $borderColor-success-emphasis
}

.markdown-alert.markdown-alert-tip .markdown-alert-title {
  color: $success
}

.markdown-alert.markdown-alert-caution {
  border-left-color: $borderColor-danger-emphasis
}

.markdown-alert.markdown-alert-caution .markdown-alert-title {
  color: $danger
}

.alert {
  margin-right: 8px;
}
