// Colors

$black: #000;
$red: #A71E2E;
$green: #00D400;
$purple: #522158;
$very-dark-grey: #111;
$dark-grey: #444;
$grey: #808080;
$light-grey: #ccc;
$very-light-grey: #fbfbfb;
$white: #fff;

$base-color: $purple;
$base-font-color: $very-dark-grey;
$body-bgcolor: $very-light-grey;

// Fonts
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-heavy: 600;
$font-weight-header: 700;
$default-font-weight: $font-weight-normal;

$default-font-size: 16px;
$default-line-height: 1.25;
$button-font-size: 14px;

$default-font-family: Tahoma, Verdana, Helvetica, Arial, sans-serif;
$wide-font-family: Montserrat, sans-serif;
$mono-font-family: "Courier New", monospaced;

// Borders
$default-border-color: $base-color;
$default-border-width: 2px;
$default-border-style: solid;
$default-border: $default-border-width $default-border-style $default-border-color;
$default-border-radius: 2px;

// Spacing
$default-gutter: 20px;
$sidebar-width: 220px;

// Media
// $tablet-breakpoint: 768px;
// $mobile-breakpoint: 480px;
$tablet-breakpoint: 900px;
$mobile-breakpoint: 700px;

// Effects
$default-opacity: 0.85;


// borrowed from github
$default: #1f2328;
$muted: #59636e;
$onEmphasis: #ffffff;
$onInverse: #ffffff;
$white: #ffffff;
$black: #1f2328;
$disabled: #818b98;
$link: #0969da;
$neutral: #59636e;
$accent: #0969da;
$success: #1a7f37;
$open: #1a7f37;
$attention: #9a6700;
$severe: #bc4c00;
$danger: #d1242f;
$closed: #d1242f;
$done: #8250df;
$upsell: #8250df;
$sponsors: #bf3989;
$borderColor-default: #d1d9e0;
$borderColor-muted: #d1d9e0b3;
$borderColor-emphasis: #818b98;
$borderColor-disabled: #818b981a;
$borderColor-transparent: #ffffff00;
$borderColor-translucent: #1f232826;
$borderColor-neutral-muted: #d1d9e0b3;
$borderColor-neutral-emphasis: #59636e;
$borderColor-accent-muted: #54aeff66;
$borderColor-accent-emphasis: #0969da;
$borderColor-success-muted: #4ac26b66;
$borderColor-success-emphasis: #1a7f37;
$borderColor-open-muted: #4ac26b66;
$borderColor-open-emphasis: #1a7f37;
$borderColor-attention-muted: #d4a72c66;
$borderColor-attention-emphasis: #9a6700;
$borderColor-severe-muted: #fb8f4466;
$borderColor-severe-emphasis: #bc4c00;
$borderColor-danger-muted: #ff818266;
$borderColor-danger-emphasis: #cf222e;
$borderColor-closed-muted: #ff818266;
$borderColor-closed-emphasis: #cf222e;
$borderColor-done-muted: #c297ff66;
$borderColor-done-emphasis: #8250df;
$borderColor-upsell-muted: #c297ff66;
$borderColor-upsell-emphasis: #8250df;
$borderColor-sponsors-muted: #ff80c866;
$borderColor-sponsors-emphasis: #bf3989;
